{% if current_user.is_authenticated %}
<div class="gs-nav-sub">
  <div class="gs-nav-sub-inner">
    <a href="{{ url_for('category_in_city', city_slug='accra', category_slug='plumbing') }}" class="gs-nav-sub-pill">
      <i class="ti ti-droplet"></i> Plumber
    </a>
    <a href="{{ url_for('category_in_city', city_slug='accra', category_slug='electrical') }}" class="gs-nav-sub-pill">
      <i class="ti ti-bolt"></i> Electrician
    </a>
    <a href="{{ url_for('category_in_city', city_slug='accra', category_slug='cleaning-pest') }}" class="gs-nav-sub-pill">
      <i class="ti ti-sparkles"></i> Cleaning
    </a>
    <a href="{{ url_for('category_in_city', city_slug='accra', category_slug='painting') }}" class="gs-nav-sub-pill">
      <i class="ti ti-paint"></i> Painter
    </a>
    <a href="{{ url_for('category_in_city', city_slug='accra', category_slug='ac-appliances') }}" class="gs-nav-sub-pill">
      <i class="ti ti-air-conditioning"></i> AC & Appliances
    </a>
    <a href="{{ url_for('category_in_city', city_slug='accra', category_slug='carpentry-furniture') }}" class="gs-nav-sub-pill">
      <i class="ti ti-armchair"></i> Carpenter
    </a>
    <a href="{{ url_for('category_in_city', city_slug='accra', category_slug='moving-storage') }}" class="gs-nav-sub-pill">
      <i class="ti ti-truck"></i> Moving
    </a>
    <a href="{{ url_for('category_in_city', city_slug='accra', category_slug='renovation-construction') }}" class="gs-nav-sub-pill">
      <i class="ti ti-building"></i> Renovation
    </a>
    <a href="{{ url_for('category_in_city', city_slug='accra', category_slug='catering') }}" class="gs-nav-sub-pill">
      <i class="ti ti-chef-hat"></i> Catering
    </a>
  </div>
</div>
{% endif %}
